/*IMPORTS*/
@import "variables";

/*FONTS*/
@import url("https://fonts.googleapis.com/css?family=Raleway");

@import "footer";
@import "navbar";
@import "pagecontent";
@import "widgets";

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.display-4,
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
.nav-link {
  font-weight: 600;
}

/*GLOBALS*/
body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container-text {
  max-width: 60rem;
}

.btn {
  border-radius: 24px;
}

.btn-lg {
  padding: 0.7rem 4rem;
  border-radius: 40px;
}

.jumbotron {
  margin: 0;
}

.text-ligth-blue {
  color: #bbdefb;
}
.white-text {
  color: #eee;
}
.gray-text {
  color: #ccc;
}
.icon-circle {
  border-radius: 50%;
  background: #fff;
  width: 120px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;
}

a {
  color: #000;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: $primary-color;
    text-decoration: none;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.title {
  margin-bottom: 4rem;

  hr {
    margin-right: 95%;
    border-top: 3px solid rgba($color: $primary-color-light, $alpha: 1);
  }
}

/*SHOWCASE*/

#showcase {
  border-radius: 0;
  background: $primary-color;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;

    .searchform {
      margin: 1rem 0;
      width: 100%;

      display: flex;
      justify-content: center;

      #search {
        max-width: 350px;
      }
    }
  }
}

/*COURSES LIST*/

#courses-section {
  background: rgb(245, 245, 245);

  .container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    height: auto;
  }
}

#courses-list {
  margin: 2rem 0;

  flex-grow: 3;
  display: flex;
  flex-direction: column;

  .courses {
    margin: auto 0;

    display: flex;
    justify-content: space-evenly;

    .card {
      width: 100%;
      max-width: 250px;

      display: flex;
      flex-direction: column;
      .card-title {
        padding: 1rem;
        margin-bottom: 0;
      }
      p {
        font-size: 0.9rem;
        padding: 1rem;
        margin: 0;
      }
      .card-footer {
        padding: 0;
        margin-top: auto;

        display: flex;
        justify-content: stretch;

        .btn {
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 1rem;
          border-radius: 0;
        }
      }
    }
  }
  > .btn {
    margin: 4rem 0 2rem 0;

    align-self: center;
  }
}

#courses-caracteristics {
  width: 100vw;
  background: $primary-color;
  padding: 3rem 0;

  .container {
    ul {
      display: flex;
      width: 80%;
      margin: auto;
      justify-content: space-evenly;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;

        i {
          font-size: 4rem;
        }
        h5 {
          text-align: center;
        }
      }
    }
  }
}

/*  NEWS    */

#news {
  padding: 4rem 0;

  .display-4 {
    margin-bottom: 1rem;
  }

  .container {
    .news-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 90%;
      margin: auto;

      .card {
        flex-direction: row;
        align-items: center;

        margin-bottom: 1rem;

        .card-date {
          display: flex;
          flex-direction: column;
          align-items: center;

          background: $primary-color;
          color: #fff;

          padding: 1rem;

          width: 120px;
        }

        .card-data {
          flex-grow: 5;
          padding: 1rem;
          margin-left: 1rem;
          .card-title {
            padding: 0;
          }
          .lead {
            margin-bottom: 0;
            padding: 0;
          }
        }

        .btn {
          margin-right: 3rem;

          padding: 0.5rem 2rem;
        }
      }
    }
  }
}

#footer-home {
  border-top: 0.05px #ddd solid;
  padding: 4rem 0 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  a {
    margin: 4rem 0;
  }

  h4 {
    font-weight: 300;
  }
}

@import "media";
